.App {
  background-color: black;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  /* override bootstrap */
  --bs-code-color: #f1f0f0;
  --bs-link-hover-color: #f1f0f0;
  --bs-link-color: #61dafb;
}

a {
  text-decoration: none;
}

nav, li, ul {
  display: flex;
  padding: 0px 25px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.transparent {
  color: transparent;
}

main {
  height: 100vh;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App-link {
  color: #31cf25;
  text-decoration: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App-link:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

/* override bootstrap */
.nav-link:hover {
  color: #31cf25;
}
.navbar-toggler {
  margin-right: 4vmin;
  margin-top: 4vmin;
  color: white;
  border-color: white;
}

.avatar {
  color: white;
  width: 130px;
  height: 200px;
}

/* animations: */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* fade classNames used to handle the animation */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

/* ProjectNav */
.sticky-nav {
  position: sticky;
  bottom: 0vh;
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
}

.sticky-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sticky-nav li {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 25px;
  border: dotted;
  border-radius: 50px;
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
}

active {
  color: white;
}

@media screen and (min-width: 351px) {
  .skills {
    min-width: 350px;
  }
}

@media screen and (min-width: 992px) {
  .project-title-desktop {
  display: block;
  font-size: 20px;
  }
  .project-id-mobile {
  display: none;
  }
}

@media screen and (max-width: 992px) {
  .project-title-desktop {
  display: none;
  }
  .project-id-mobile {
  display: block;
  }
  main {
    height: auto;
  }
}