.App {
  background-color: black;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  /* override bootstrap */
  --bs-code-color: #f1f0f0;
  --bs-link-hover-color: #f1f0f0;
  --bs-link-color: #61dafb;
  --bs-nav-link-hover-color: #fff;
  --bs-navbar-hover-color: #fff;
  --bs-nav-link-active-color: #fff;
  --bs-navbar-active-color: #fff;

}

a {
  text-decoration: none;
}

nav, li, ul {
  display: flex;
  padding: 0px 25px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.transparent {
  color: transparent;
}

.App-logo {
  height: 50vmin, ;
  width: 50vmin;
  pointer-events: none;
}

.App-logo-small {
  height: 50px, ;
  width: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-small {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #31cf25;
  text-decoration: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: calc(16px + 1vmin);
}

.App-link:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

/* override bootstrap */
.nav-link:hover {
  color: #31cf25;
}

/* animations: */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* fade classNames used to handle the animation */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}